/* General */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap");

* {
    font-family: "Lato", sans-serif;
}

h2 {
    font-family: "Lato", sans-serif;
    font-weight: bold;
}
body {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

header {
    background-color: #fff;
}
.sobre {
    display: flex;
    margin-top: 50px;
    margin-bottom: 30px;
}

#img {
    margin-left: 15px;
    max-width: 400px;
}

@media (max-width: 500px) {
    #img {
        margin-left: 15px;
        max-width: 100px;
    }
    .nav {
    font-size: large;
}

}

#navbar_img {
    width: 100px;
}
@media (min-width: 500px) {
    .titulos {
        margin-top: 5px;
        margin-left: -30px;
    }

    #titulo_jantar {
        margin-top: 5px;
        margin-left: -40px;
    }
    
}

.paragrafos {
    display: inline;
    margin-left: 35px;
    margin-right: 15px;
}

.categorias {
    display: flex;
    justify-content: center;
}

.eventos {
    display: flex;
    align-items: center;
}

.eventos1 {
    display: inline;
    margin: 0 auto;
    padding-right: 10px;
    padding-top: 10px;
}

.eventos1 p {
  padding-right:2px;
  padding-top: 10px;
}

.thumbnail {
    top: -50px;
    left: -35px;
    display: block;
    z-index: 999;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.thumbnail:hover {
    transform: scale(1.1);
}
.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.btn-primary {
    background-color: #f2a340;
    border: 2px solid #f2a340;
}

.btn-primary:hover {
    background-color: #f2a340;
    border-color: #f2a340;
}

#info-container .already-joined-msg {
    margin: 15px 0;
    color: #004085;
    background-color: #cce5ff;
    border: 1px solid #b8daff;
    padding: 10px;
    width: 275px;
}

.nav {
    margin-left: -450px;
    font-size: large;
}

#navbar img {
    width: 100px;
}

#fundo {
    width: 100%;
    height: 250px;
}

#eventos {
    width: 50%;
    height: 50%;
}

#circulo {
    width: 90px;
    height: 90px;
    border: 5px solid #f2a340;
    border-radius: 100%;
}

#navbar {
    justify-content: space-between;
}

#navbar a {
    font-size: 14px;
    color: #f2a340;
}

#navbar a:hover {
    color: #f2a340;
}

#search-container {
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 50px;
    text-align: center;
}

#search-container h1 {
    color: #f2a340;
    margin-bottom: 30px;
    font-weight: 900;
}

#search-container form {
    width: 50%;
    margin: 0 auto;
}

#events-container {
    padding: 50px;
}

#events-container h2 {
    margin-bottom: 10px;
}

#events-container .subtitle {
    color: #757575;
    margin-bottom: 30px;
}

#cards-container {
    display: flex;
}

#events-container .card {
    flex: 1 1 24%;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: 0.5%;
}

#events-container img {
    max-height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .card-date {
    font-size: 12px;
    color: #ccc;
}

.card .card-title {
    color: #212121;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.card-participants {
    font-size: 14px;
    color: #757575;
}

/* Event create page */
#event-create-container {
    padding: 30px;
}

#event-create-container label {
    font-weight: bold;
}

#event-create-container input,
#event-create-container select,
#event-create-container textarea {
    font-size: 12px;
}

/* Event page */
#image-container,
#info-container {
    margin-top: 30px;
}

#image-container img {
    border-radius: 10px;
}

#info-container h1 {
    font-size: 36px;
    font-weight: 900;
}

#info-container p {
    margin: 0;
    font-size: 14px;
    display: flex;
}

#info-container h3,
#description-container h3 {
    font-size: 20px;
    font-weight: bold;
}

#info-container ion-icon {
    font-size: 20px;
    color: #f2a340;
    margin-right: 5px;
}

#info-container #event-submit {
    margin: 20px 0;
}

#items-list {
    list-style: none;
    padding-left: 0;
}

#items-list li {
    display: flex;
}

#description-container {
    margin-top: 30px;
}

/* Dashboard */
.dashboard-title-container {
    margin-bottom: 30px;
    margin-top: 30px;
}

.dashboard-events-container th {
    width: 25%;
}

.dashboard-events-container form {
    display: inline-block;
}

/* Edit page */

.img-preview {
    width: 100px;
    margin-top: 20px;
}

/* footer */
footer {
    text-align: center;
    background-color: #b49a26;
    color: #fff;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-bottom: 0;
}
